
*{
    margin: 0;
    padding: 0;
}
.titulopagina{
    color: rgb(233, 227, 227);
    font-family: Arial, Helvetica, sans-serif;
    top: 5%;
    left: 40%;
    position: absolute;
}
body{
    background-color: rgba(79, 134, 236, 0.76);
}
#boton{
    position: absolute;
    top: 70%; 
}
#tdqueja{
    text-align: center;
    left: 3px;
    top: 1%;
    position: absolute;
}
#formulario{
    left: 30%;
    top: 20%;
    position: absolute;
    background-color: rgba(243, 220, 171, 0.733);
    border: 1px solid black;
    width: 225px;
    height: 300px;
    border-radius: 3%;
}
#texto{
    width: 200px;
    height: 180px;
    margin-top: 10px;
    position: absolute;
    top: 15%;
    left: 5%;
}
#comentario{
    font-size: small;
    font-family: monospace;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 100%;
}
#formulario1{
    font-size: 12px;
    position: absolute;
    top: 8%;
    left: 4%;
}
#telefono{
    position: absolute;
    top: 18%;
    left: 2%;
    font-family: monospace;
    font-size: small;
}
#corrreoelectronico{
    position: absolute;
    top: 25%;
    left: 2%;
    width: 100%;
    font-family: monospace;
}
#titulo1{
    position: absolute;
    top: 8%;
    font-size: small;
    left: 3%;
}
#nombredelcliente{
    font-size: small;
    width: 100%;
    top: 10%;
    position: absolute;
    left: 3%;
}
#cuadrodenombre{
    width: 50%;
    top: 10%;   
}
#enviar{
    position: absolute;
    left: 72%;
    top: 10%;
}
#problemasfr{
    position: absolute;
    top: 15%;
    left: 3%;
}
#serviciopocosatisfactorio{
    font-size: 12px;
}
#faltadeinformacion{
    font-size: 12px;
}
#tiempodeespera{
    font-size: 12px;
}
#otros{
    font-size: 12px;
}
#barco{
    font-size: small;
    position: absolute;
    top: 15%;
    left: 3%;
    font-family: monospace;
    color: rgb(233, 0, 0);
}
#textobarco{
    position: absolute;
    top: 25%;
    left: 4%;
    width: 200px;
    height: 130px;
}
#botonbarco{
    position: absolute;
    top: 70%;
    left: 5%;
}
#botonvolver{
    font-size: 13px;
    position: absolute;
    top: 92%;
    left: 80%;
}
#client{
    position: absolute;
    top: 15%;
    left: 3%;
    font-family: monospace;
    font-size: small;
}
#comentarioimagenes{
    position: absolute;
    top: 50%;
}
.boton{
    position: absolute;
    top: 20%;
    left: 4%;
}
.boton1{
    font-size: 12px;
    
}
.boton2{
    font-size: 12px;
}
.boton3{
    font-size: 12px;
}
.boton4{
    font-size: 12px;
}
#botonvolver1{
    position: absolute;
    top: 68%;
    left: 2%;
} 
#volver2{
    position: absolute;
    top: 90%;
    left: 80%;
}
.redes{
    top: -120px;
    position: absolute;
}
#comentario2{
    position: absolute;
    top: 10%;
    left: 3%;
    font-size: 12px;
    font-family: monospace;
}
#div1{
    position: absolute;
    top: 13%;
    left: 3%;
    font-family: monospace;
}